* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
}

.main-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background: #111827;
    padding: 30px;
    color: white;
}

.sidebar h2 {
    margin-bottom: 40px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

}